
<tr>
    <td style="font-family: 'Cairo', sans-serif; font-size:30px; color:#4b4b4c; line-height:30px; font-weight:bold;" mc:edit="tm2-04" valign="top" align="center">
        <multiline>Welcome to <span style="color:#ec8723;">ERPTAG</span></multiline>
    </td>
</tr>
<tr>
    <td valign="top" align="center">&nbsp;</td>
</tr>

<tr>
    <td style="font-family: 'Cairo', sans-serif;font-size:13px;color:#71746f;line-height:22px;padding: 0 56px;font-weight:normal;" mc:edit="tm2-05" valign="top" align="center">
        <multiline>

            Hello <b>{{ customer_name }}</b>,
            Here is your new site information!<br>
        </multiline>
    </td>
</tr>
<tr>
    <td valign="top" align="center">
        <table width="180" cellspacing="0" cellpadding="0" border="0" align="center" style="width: 50%;">
            <tbody>
                <tr>
                    <td valign="top" height="30" align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td style="" data-bgcolor="theme-bg" mc:edit="tm2-06" valign="middle" height="60" align="center">
                        
                        <table class="table" style="width: 100%;">
                                <tr>
                                    <td>Site</td>
                                    <td><b>{{ site }}</b></td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td><b>{{ user }}</b></td>
                                </tr>
                                 <tr>
                                    <td>Passwored</td>
                                    <td><b>{{ passwored }}</b></td>
                                </tr>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
        
    </td>
</tr>
<tr>
    <td style="font-size:30px; line-height:30px;" valign="top" height="30" align="center">&nbsp;</td>
</tr>